:root {
  --content-background-color: #fff;
  --background-color: #fff;
  --second-background-color: #f7f7f7;
  --primary-color: #f22f27;
  --mark-down-block-quote: #fff9f9;
  --mark-down-link: #00f;
  --first-text-color: #2f343a;
  --second-text-color: #31373d;
  --third-text-color: #949b9e;
  --fourth-text-color: #e9ebed;
  --default-text-color: #343a40;
  --border-color: #b3b3b3;
  --selection-color: #f3443d;
  --shadow-color: rgba(0,0,0,0.2);
  --shadow-hover-color: rgba(0,0,0,0.28);
  --scrollbar-color: #505050;
  --scroll-bar-bg-color: #e6e6e6;
  --link-color: #2f343a;
  --copyright-info-color: #c03;
  --avatar-background-color: #06c;
  --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
}
@media (prefers-color-scheme: light) {
  :root {
    --content-background-color: #fff;
    --background-color: #fff;
    --second-background-color: #f7f7f7;
    --primary-color: #f22f27;
    --mark-down-block-quote: #fff9f9;
    --mark-down-link: #00f;
    --first-text-color: #2f343a;
    --second-text-color: #31373d;
    --third-text-color: #949b9e;
    --fourth-text-color: #e9ebed;
    --default-text-color: #343a40;
    --border-color: #b3b3b3;
    --selection-color: #f3443d;
    --shadow-color: rgba(0,0,0,0.2);
    --shadow-hover-color: rgba(0,0,0,0.28);
    --scrollbar-color: #505050;
    --scroll-bar-bg-color: #e6e6e6;
    --link-color: #2f343a;
    --copyright-info-color: #c03;
    --avatar-background-color: #06c;
    --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --content-background-color: #1d1e1f;
    --background-color: #151617;
    --second-background-color: #131415;
    --primary-color: #f22f27;
    --mark-down-block-quote: rgba(59,61,63,0.71);
    --mark-down-link: #0685ea;
    --first-text-color: #e9f0f4;
    --second-text-color: #e6eef2;
    --third-text-color: #7c8183;
    --fourth-text-color: #20333d;
    --default-text-color: #e0eaef;
    --border-color: #414548;
    --selection-color: #f3443d;
    --shadow-color: rgba(128,128,128,0.2);
    --shadow-hover-color: rgba(128,128,128,0.28);
    --scrollbar-color: #303030;
    --scroll-bar-bg-color: #2b2d2f;
    --link-color: #e3ecf1;
    --copyright-info-color: #a30029;
    --avatar-background-color: #005cb8;
    --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
  }
}
.light-mode {
  --content-background-color: #fff;
  --background-color: #fff;
  --second-background-color: #f7f7f7;
  --primary-color: #f22f27;
  --mark-down-block-quote: #fff9f9;
  --mark-down-link: #00f;
  --first-text-color: #2f343a;
  --second-text-color: #31373d;
  --third-text-color: #949b9e;
  --fourth-text-color: #e9ebed;
  --default-text-color: #343a40;
  --border-color: #b3b3b3;
  --selection-color: #f3443d;
  --shadow-color: rgba(0,0,0,0.2);
  --shadow-hover-color: rgba(0,0,0,0.28);
  --scrollbar-color: #505050;
  --scroll-bar-bg-color: #e6e6e6;
  --link-color: #2f343a;
  --copyright-info-color: #c03;
  --avatar-background-color: #06c;
  --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
}
.dark-mode {
  --content-background-color: #1d1e1f;
  --background-color: #151617;
  --second-background-color: #131415;
  --primary-color: #f22f27;
  --mark-down-block-quote: rgba(59,61,63,0.71);
  --mark-down-link: #0685ea;
  --first-text-color: #e9f0f4;
  --second-text-color: #e6eef2;
  --third-text-color: #7c8183;
  --fourth-text-color: #20333d;
  --default-text-color: #e0eaef;
  --border-color: #414548;
  --selection-color: #f3443d;
  --shadow-color: rgba(128,128,128,0.2);
  --shadow-hover-color: rgba(128,128,128,0.28);
  --scrollbar-color: #303030;
  --scroll-bar-bg-color: #2b2d2f;
  --link-color: #e3ecf1;
  --copyright-info-color: #a30029;
  --avatar-background-color: #005cb8;
  --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
}
:root {
  --code-foreground: #ff3502;
  --code-background: #f8f5ec;
  --highlight-background: #eee;
  --highlight-foreground: #383e44;
  --highlight-comment: #8e908c;
  --highlight-red: #c82829;
  --highlight-orange: #f5871f;
  --highlight-yellow: #eab700;
  --highlight-green: #718c00;
  --highlight-aqua: #3e999f;
  --highlight-blue: #4271ae;
  --highlight-purple: #8959a8;
  --highlight-gutter-color: #3d444b;
  --highlight-gutter-bg-color: #f2f2f2;
}
@media (prefers-color-scheme: light) {
  :root {
    --code-foreground: #ff3502;
    --code-background: #f8f5ec;
    --highlight-background: #eee;
    --highlight-foreground: #383e44;
    --highlight-comment: #8e908c;
    --highlight-red: #c82829;
    --highlight-orange: #f5871f;
    --highlight-yellow: #eab700;
    --highlight-green: #718c00;
    --highlight-aqua: #3e999f;
    --highlight-blue: #4271ae;
    --highlight-purple: #8959a8;
    --highlight-gutter-color: #3d444b;
    --highlight-gutter-bg-color: #f2f2f2;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --code-foreground: #e1eaef;
    --code-background: #131415;
    --highlight-background: #282c34;
    --highlight-foreground: #e1eaef;
    --highlight-comment: #969896;
    --highlight-red: #c66;
    --highlight-orange: #de935f;
    --highlight-yellow: #f0c674;
    --highlight-green: #b5bd68;
    --highlight-aqua: #8abeb7;
    --highlight-blue: #81a2be;
    --highlight-purple: #b294bb;
    --highlight-gutter-color: #e2ebf0;
    --highlight-gutter-bg-color: #131415;
  }
}
.light-mode {
  --code-foreground: #ff3502;
  --code-background: #f8f5ec;
  --highlight-background: #eee;
  --highlight-foreground: #383e44;
  --highlight-comment: #8e908c;
  --highlight-red: #c82829;
  --highlight-orange: #f5871f;
  --highlight-yellow: #eab700;
  --highlight-green: #718c00;
  --highlight-aqua: #3e999f;
  --highlight-blue: #4271ae;
  --highlight-purple: #8959a8;
  --highlight-gutter-color: #3d444b;
  --highlight-gutter-bg-color: #f2f2f2;
}
.dark-mode {
  --code-foreground: #e1eaef;
  --code-background: #131415;
  --highlight-background: #282c34;
  --highlight-foreground: #e1eaef;
  --highlight-comment: #969896;
  --highlight-red: #c66;
  --highlight-orange: #de935f;
  --highlight-yellow: #f0c674;
  --highlight-green: #b5bd68;
  --highlight-aqua: #8abeb7;
  --highlight-blue: #81a2be;
  --highlight-purple: #b294bb;
  --highlight-gutter-color: #e2ebf0;
  --highlight-gutter-bg-color: #131415;
}
