.markdown-body {
  font-family: "Open Sans", "PingFang SC", -apple-system, BlinkMacSystemFont, opensans, Optima, "Microsoft Yahei", sans-serif;
  font-size: 17px;
  line-height: 1.8rem;
  letter-spacing: 0;
  margin: 0;
  overflow-x: hidden;
/* 三级四级标题点击后左边的提示图标 */
}
.markdown-body blockquote {
  box-sizing: border-box;
  border-left: 5px solid var(--default-text-color);
  margin: 20px 0;
  color: var(--default-text-color);
  background: var(--second-background-color);
}
.markdown-body blockquote p {
  padding: 5px 5px 5px 10px;
}
.markdown-body p {
  line-height: 2;
  color: var(--default-text-color);
}
.markdown-body a {
  position: relative;
  outline: 0;
  text-decoration: none;
  overflow-wrap: break-word;
  cursor: pointer;
  border-bottom: 1px solid var(--third-text-color);
  box-sizing: border-box;
  padding-bottom: 2px;
}
.markdown-body a .fas,
.markdown-body a .far,
.markdown-body a fab {
  margin-left: 6px;
  position: relative;
  color: var(--third-text-color);
}
.markdown-body a:hover {
  text-decoration: underline;
}
.markdown-body a:hover::after {
  background: var(--primary-color);
}
.markdown-body strong {
  color: var(--default-text-color);
}
.markdown-body em {
  color: var(--default-text-color);
}
.markdown-body ul > li,
.markdown-body ol > li {
  margin-left: 16px;
  line-height: 2rem;
}
.markdown-body ul li {
  list-style: disc;
}
.markdown-body ul li ul li {
  list-style: circle;
}
.markdown-body ul li ul li ul li {
  list-style: square;
}
.markdown-body ol li {
  list-style: decimal;
}
.markdown-body ol li ol li {
  list-style: upper-alpha;
}
.markdown-body ol li ol li ol li {
  list-style: upper-roman;
}
.markdown-body li {
  color: var(--default-text-color);
}
.markdown-body h1:hover a.anchor,
.markdown-body h2:hover a.anchor,
.markdown-body h3:hover a.anchor,
.markdown-body h4:hover a.anchor,
.markdown-body h5:hover a.anchor,
.markdown-body h6:hover a.anchor {
  text-decoration: none;
}
.markdown-body h1 tt,
.markdown-body h1 code {
  font-size: inherit !important;
}
.markdown-body h2 tt,
.markdown-body h2 code {
  font-size: inherit !important;
}
.markdown-body h3 tt,
.markdown-body h3 code {
  font-size: inherit !important;
}
.markdown-body h4 tt,
.markdown-body h4 code {
  font-size: inherit !important;
}
.markdown-body h5 tt,
.markdown-body h5 code {
  font-size: inherit !important;
}
.markdown-body h6 tt,
.markdown-body h6 code {
  font-size: inherit !important;
}
.markdown-body h2 a,
.markdown-body h3 a {
  color: #34495e;
}
.markdown-body h1 {
  text-align: center;
  padding-bottom: 0.3em;
  font-size: 2.2em;
  line-height: 1.2;
  margin: 2.4em auto 1.2em;
  color: var(--main-10);
}
.markdown-body h1:after {
  content: '';
  display: block;
  margin: 0.2em auto 0;
  width: 100px;
  height: 2px;
  border-bottom: 2px solid var(--main-6);
}
.markdown-body h2 {
  margin: 2em auto 1.4em;
/* padding-left: 10px; */
/* display:inline-block; */
  line-height: 1.4;
  font-size: 1.8em;
/* border-left: 9px solid var(--main-6); */
/* border-bottom: 1px solid #ddd; */
  border-bottom: 1px solid var(--main-6);
}
.markdown-body h2::before {
  content: '# ' !important;
  color: #f22f27;
}
.markdown-body h3 {
  font-size: 1.4em;
  line-height: 1.43;
  margin: 1.6em auto 1.2em;
  padding-left: 9px;
  border-left: 5px solid #f22f27;
}
.markdown-body #write>h3.md-focus:before,
.markdown-body #write>h4.md-focus:before {
  width: auto;
  height: auto;
  background-color: var(--main-5);
  color: var(--mid-1);
}
.markdown-body h4 {
  margin-top: 1.3em;
  font-size: 1.2em;
  padding-left: 6px;
  padding-right: 6px;
  display: inline-block;
  border: 1px solid var(--main-6);
  border-top: 4px solid var(--main-6);
}
.markdown-body #write h5::before,
.markdown-body #write h6::before {
  position: absolute;
  right: calc(100% + 0.75em);
  top: 0;
  color: #5b5b5b;
  font-size: 0.8rem;
  font-weight: bold;
  font-variant: 'small-caps';
  white-space: nowrap;
/* 文本强制不换行 */
  border: 0;
}
.markdown-body #write h5 {
/* margin-left: 2em; */
  font-size: 1rem;
}
.markdown-body #write h6 {
/* margin-left: 2.5em; */
  font-size: 1rem;
}
.markdown-body #write h5::before {
  content: 'H5';
  top: 0.18rem;
}
.markdown-body #write h6::before {
  content: 'H6';
  top: 0.18rem;
}
.markdown-body img {
  box-sizing: border-box;
  max-width: 100%;
  cursor: zoom-in;
  display: block;
  box-shadow: 0 0 2px var(--shadow-color);
  margin: 10px 0 2px;
}
.markdown-body > table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
}
.markdown-body > table td,
.markdown-body > table th {
  padding: 0;
}
.markdown-body > table th {
  font-weight: 600;
}
.markdown-body > table td,
.markdown-body > table th {
  padding: 6px 13px;
  border: 1px solid var(--border-color);
}
.markdown-body > table tr {
  background-color: var(--background-color);
  border: 1px solid var(--fourth-text-color);
}
.markdown-body > table tr:nth-child(2n) {
  background-color: var(--second-background-color);
}
